{{!--
This footer template is shared across all the pages.
--}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=mail" />
<footer class="m-footer">
  <table>
    <tr>
  <td style="width: 33%; text-align: center">
    <a href="https://osut.org/" title="OSUT Cluj-Napoca" target="_blank"> <img src="/assets/images/OSUT alb.png" style="width: 35%; height: auto; margin-top: -35px"></img></a>
  </td>
  <td style="width: 33%; text-align: center">
  <div class="m-footer__content">
    {{!-- We are not using the secondary navigation for the time being
    {{!-- {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}} --}}
    <nav class="m-footer-social">
      {{!--#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook" aria-hidden="true"></span>
        </a>
      {{/if}}--}}
      <a class="gh-social-facebook" href="https://www.facebook.com/infotech.osut" title="Facebook" target="_blank">
          <i class="icon-facebook" style="font-size: 35px;"></i>
      </a> 
      <a class="gh-social-instagram" href="https://www.instagram.com/infotech.osut/" title="Instagram" target="_blank">
          <i class="icon-instagram" style="font-size: 40px;"></i>
      <p class="m-footer-content2"></p>
      
      <a class="gh-social-mail" href="https://mail.google.com/mail/?view=cm&to=infotech.osutcluj@gmail.com" title="Email us" target="_blank">
      <img src="/assets/images/mail_16dp_E8EAED_FILL0_wght400_GRAD0_opsz20.png"></img></a>
      <br>
    </p>
      </a>
      {{!--<a class="gh-social-linkedin" href="https://www.instagram.com/infotech.osut/" title="LinkedIn" target="_blank">
          <i class="icon-linkedin" style="font-size: 30px;"></i>
      </a>--}}
    </nav>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <br>
      {{!--<span>{{t "Contact"}} </span>
      <br>--}}
      
    </p>
    
  </div>
  </td>
  <td style="width: 33%; text-align: center">
     <a href="https://www.utcluj.ro/" title="Universitatea Tehnică din Cluj-Napoca" target="_blank"> <img src="/assets/images/UTCN BUN_alb-01(1).png" style="width: 50%; height: auto; margin-top: -35px"></img></a>
  </td>
  </tr>
  </table>
</footer>
