<<<<<<< HEAD
{{!--
This header template is shared across all the pages.
--}}

<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}



.buton-osut{
  height: 75%;
  width: 75%;

}
@media only screen and (max-width: 767px) {
  .buton-osut img {
    width: 25%;
    margin-bottom: 1%;
    margin-left: 3%;
  }
}
@media only screen and (min-width: 768px) {
  .buton-osut img{
  height: 75%;
  width: 75%;
  margin-bottom: 1%;
  margin-left: 3%;
  
}
}


</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="m-header {{#if background}}with-picture{{/if}} js-header">
  <div class="m-mobile-topbar" data-aos="fade-down">
    <button class="m-icon-button in-mobile-topbar js-open-menu" aria-label="{{t "Open menu"}}">
      <span class="icon-menu" aria-hidden="true"></span>
    </button>
    
    {{#if @site.logo}}
      <a href="{{@site.url}}" class="m-logo in-mobile-topbar">
        <img src="{{@site.logo}}" alt="{{@site.title}}" class="{{#if @custom.dark_mode_logo}}m-logo__image-light{{/if}}">
        {{#if @custom.dark_mode_logo}}
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
          <img src="{{@custom.dark_mode_logo}}" alt="{{@site.title}}" class="m-logo__image-dark">
        {{/if}}
      </a>
    {{else}}
      <a href="{{@site.url}}" class="m-site-name in-mobile-topbar">
        {{@site.title}}
      </a>
    {{/if}}
    
    <button class="m-icon-button in-mobile-topbar js-open-search" aria-label="{{t "Open search"}}">
      <span class="icon-search" aria-hidden="true"></span>
    </button>
  </div>

  <div class="m-menu js-menu">
    <button class="m-icon-button outlined as-close-menu js-close-menu" aria-label="{{t "Close menu"}}">
      <span class="icon-close"></span>
    </button>
    <div class="m-menu__main" data-aos="fade-down">
      
      <div class="l-wrapper">
        
        <div class="m-nav js-main-nav">
          
          <nav class="m-nav__left js-main-nav-left" role="navigation" aria-label="{{t "Main menu"}}" style="position: relative;">
            
            <ul>
              {{#if @site.logo}}
                <li class="only-desktop">
                  <a href="{{@site.url}}" class="m-logo">
                    <img src="{{@site.logo}}" alt="{{@site.title}}" class="{{#if @custom.dark_mode_logo}}m-logo__image-light{{/if}}">
                    {{#if @custom.dark_mode_logo}}
                      <img src="{{@custom.dark_mode_logo}}" alt="{{@site.title}}" class="m-logo__image-dark">
                    {{/if}}
                  </a>
                </li>
                {{else}}
                <li class="only-desktop">
                  <a href="{{@site.url}}" class="m-site-name in-desktop-menu">
                    {{@site.title}}
                  </a>
                </li>
              {{/if}}
              {{#if @site.navigation}}
                {{navigation}}
              {{/if}}
            </ul>
             <div class="gh-head-actions" style="margin-left: auto; margin-right: 10px;">
                
                    <a class="buton-osut" href="https://osut.org" title="Osut" target="_blank">
                    <img src="https://osut.org/content/images/2022/09/OSUT-ghost-black.png">
                    </a>
                </div>
          </nav>
          
        
        </div>
      </div>
    </div>
  </div>

  <div id="secondary-navigation-template" style="display: none;">
    <ul class="m-secondary-menu">
        {{#foreach navigation}}
          {{#matchRegex slug "\w{0,}-subitem"}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
              <a href="{{url absolute="true"}}">{{#removeNavigationType label "subitem"}}{{/removeNavigationType}}</a>
            </li>
          {{/matchRegex}}
        {{/foreach}}
    </ul>
  </div>

  
</header>
=======
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  /* Style for the hamburger menu button */
  .menu {
    cursor: pointer;
    position: fixed;
    top: 20px; /* Position the button at the top */
    left: 20px; /* Position the button to the left */
    z-index: 3; /* Ensure it stays above other elements */
    opacity: 1;
  }

  /* Hamburger bar styles */
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333333;
    margin: 6px 0; /* Space between bars */
    transition: 0.4s; /* Smooth transition for the "X" animation */
    opacity: 1;
  }

  /* Animation when the hamburger icon changes to "X" */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0; /* Hide the middle bar */
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* Sidebar (vertical navigation bar) styles */
/* Sidebar (vertical navigation bar) styles */
.sidenav {
    height: 100vh; /* Full-height sidebar */
    width: 0; /* Initial hidden width */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    background-color: #161616; /* Dark background - solid */
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition when opening/closing */
    padding-top: 70px; /* Padding from the top */
    opacity: 1; /* Make sure it’s fully opaque */
    z-index: 2;
}


  /* Links inside the sidebar */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease; /* Smooth opacity transition */
  }

  /* Hover effect for the links */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* When the sidebar is open */
  .sidenav.open {
    width: 250px; /* Width of the open sidebar */
  }

  /* Make the links visible when the sidebar is fully open */
  .sidenav.show-links a {
    opacity: 1; /* Show the links */
  }

  /* Style for InfoTech button */
  .buton-infotech {
    height: auto;
    width: 90%;
  }

  @media only screen and (max-width: 769px) {
    .buton-infotech img {
      height: auto;
      width: 90%;
      margin-bottom: 2%;
      margin-left: 1vh;
    }
  }

  @media only screen and (min-width: 768px) {
    .buton-infotech img {
      height: auto;
      width: 90%;
      margin-bottom: 2%;
      margin-left: 1vh;
    }
  }

  /* Style for Osut button */
  .buton-osut {
    position: absolute;
    bottom: 150px; /* Position 20px from the bottom */
    width: 100%;
    height: 54px;
  }

  .buton-osut img {
    height: 80px;
    width: 180px;
  }

</style>

<!-- Hamburger Button -->
<div class="menu" onclick="toggleNav(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<!-- Vertical Sidebar -->
<div id="mySidenav" class="sidenav">
  <a class="buton-infotech" href="http://localhost:2368" title="InfoTech" target="_blank">
    <img src="/assets/images/InfoTech1.0.png">
  </a>
  <a href="http://localhost:2368/about-2/">Despre</a>
  <a href="http://localhost:2368/echipa/">Echipa</a>
  <a href="http://localhost:2368/sponsori-infotech/">Partners</a>
  <a href="http://localhost:2368/contestnight/">ContestNight</a>
  <a href="https://osutcluj.pixieset.com/">Galerie</a>
  <a class="buton-osut" href="https://osut.org" title="Osut" target="_blank">
    <img src="/assets/images/OSUT alb.png">
  </a>
</div>

<script>
  // Function to toggle both the button animation and the sidebar
  function toggleNav(x) {
    x.classList.toggle("change"); // Toggle the hamburger button animation
    var nav = document.getElementById("mySidenav");

    if (nav.classList.contains("open")) {
      // If the menu is open, hide the links first, then close the sidebar
      nav.classList.remove("show-links");
      setTimeout(function() {
        nav.classList.remove("open");
      }, 200); // Wait for the links to fade out before closing the sidebar
    } else {
      // If the menu is closed, open the sidebar first, then show the links
      nav.classList.add("open");
      setTimeout(function() {
        nav.classList.add("show-links");
      }, 200); // Wait for the sidebar to fully open before showing the links
    }
  }

  // Reset sidebar and menu button to initial state when leaving the page
  window.addEventListener("beforeunload", function() {
    var nav = document.getElementById("mySidenav");
    nav.classList.remove("open", "show-links"); // Close the sidebar
    var menuButton = document.querySelector(".menu");
    menuButton.classList.remove("change"); // Reset the hamburger button
  });
</script>
>>>>>>> 3113e61 (first commit)
