{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/home.js"}}" as="script" />
 <link rel="preload" href="{{asset "js/lumina.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/slideshow.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/mousemove.js"}}" as="script" />

{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
  <link rel="stylesheet" href="{{asset "css/bootstrap-landing.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/sponsori.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

<style>
  .container{
    margin-top:0;
    padding:0;
  }
</style>

<div>
  <div>
   <div class="container">
        <img src="/assets/images/InfoTech1.0.png" alt="LOGO 1" class="image">
        <div class="light"></div>
      </div>
  <script src="/assets/js/lumina.js"></script>
  </div>

  {{!--
 <div class="flex-container">
      <div class="container1">
        <!-- Conținutul pentru container1 -->
      </div>
      <div class="container2">
        <!-- Conținutul pentru container2 -->
      </div>
  </div>
   <div class="flex-container">
      <div class="container2">
        <!-- Conținutul pentru container1 -->
      </div>
      <div class="container1">
        <!-- Conținutul pentru container2 -->
      </div>
  </div>
  <div class="container1">
    <h2>hsdhjdsbhj</h2>
  </div>
</div>
--}}

<script src="/assets/js/mousemove.js"></script>





  
          


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
  {{!--<script>
  function labsFunction() {
  document.getElementById("oferts").style.display = "none";
  document.getElementById("labs").style.display = "inline";
  document.getElementById("stands").style.display = "none";
}
  function standsFunction() {
  document.getElementById("oferts").style.display = "none";
  document.getElementById("labs").style.display = "none";
  document.getElementById("stands").style.display = "inline";
}
  function ofertsFunction() {
  document.getElementById("oferts").style.display = "inline";
  document.getElementById("labs").style.display = "none";
  document.getElementById("stands").style.display = "none";
}
  </script>--}}
{{/contentFor}}  