{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/page.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/sponsori.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{#post}}
  {{> header background=feature_image}}
{{/post}}
<main class="main-wrap">
  {{!-- Everything inside the #post tags pulls data from the post --}}
  {{#post}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero background=feature_image}}
    <div class="m-hero__content" data-aos="fade-down">
      {{!-- <h1 class="m-hero-title bigger">{{title}}</h1> --}}
      {{#if custom_excerpt}}
        <p class="m-hero-description">{{custom_excerpt}}</p>
      {{/if}}
    </div>
    </section>
    <article>
      <div class="l-content">
        <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
          <div class="l-post-content">
            <div class="pos-relative js-post-content">
              {{content}}
              <div style="display:flex; align-items:flex-start;">
                <i class="fa fa-map-marker" aria-hidden="true" style="padding:0%; width:auto; font-size: 50px; margin-left: 0.5rem; margin-top: 0.5rem;"></i>
                <p style="margin-left: 1.7rem; margin-top: 0.8rem">Casinoul din Parcul Central "Simion Bărnuțiu" din Cluj-Napoca</p>
              </div>
              <div style="display:flex; align-items:flex-start;">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                  <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/> 
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/> 
                </svg>
                <p style="margin-left: 1.1rem; margin-top: 0.5rem">27 Februarie 2024, între orele 17-22</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  {{/post}}

{{!-- <section class = "sponsori-content" style="text-align:center">
         <div class = "category-title platinum">
            <h1 class = "title-sponsor">Parteneri prezenți la InfoNight</h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-1" href="facebook.com"></div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-2"></div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-3"></div>    
            </div>
            <div class = "card-bg">
               <div class = "card-img img-4"></div>  
            </div>
            <div class = "card-bg">
               <div class = "card-img img-5"></div>  
            </div>
            <div class = "card-bg">
               <div class = "card-img img-6"></div>  
            </div>
            <div class = "card-bg">
               <div class = "card-img img-7"></div>  
            </div>
            <div class = "card-bg">
               <div class = "card-img img-8"></div>  
            </div>
            <div class = "card-bg">
               <div class = "card-img img-9"></div>  
            </div>
            <div class = "card-bg">
               <div class = "card-img img-10"></div>  
            </div>



  </section> --}}

</main>


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}