{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "js/echipa.css"}}" as="script" />
  <link rel="preload" href="{{asset "js/page.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/echipa.css"}}" media="screen" />
{{/contentFor}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
 
    </style>


{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{#post}}
  {{> header background=feature_image}}
{{/post}}

<main class="main-wrap">
    <article class="article {{post_class}}">

            <header class="article-header gh-canvas">
                {{#if feature_image}}
                <figure class="article-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                    --}}
                    <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w,
                        {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw" src="{{img_url feature_image size=" xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                    {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
                {{/if}}
            </header>
<br>
      <br>
            <section >

<br>
<br>
<br>
                <div style="text-align: center;">
                    <h1 class="title"><i>MEET THE TEAM</i></h1>
                   
                </div>
                
<div class="card-grid">

            <div class="container">
                         <img src="/assets/echipa/tefi.png">
                        <div class="card-body">
                            <h2 class="h2">Mozacu Ștefania</h2>
                            <p class="role">Coordonator</p>
                            <div>
                               <a class="icon overlay" href="mailto:mailto:stefaniamozacu1@gmail.com">
                                    <i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
              

            <div class="container">
                       <img src="/assets/echipa/sarah.png">
                        <div class="card-body">
                             <h2 class="h2">Hlușcu Sarah</h2>
                            <p class="role">Co-Coordonator</p>
                            <div>
                                <a class="icon" href="mailto:sarahcristianaa@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>

            <div class="container">
                        <img src="/assets/echipa/cata.png">
                        <div class="card-body">
                            <h2 class="h2">Livinschi Cătălina</h2>
                            <p class="role">Co-Coordonator</p>
                            <div>
                                <a class="icon" href="mailto:catalinalivinschi97@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>


           
                      <div class="container">
                        <img src="/assets/echipa/daria.png">
                        <div class="card-body">
                            <h2 class="h2">Mureșan Daria</h2>
                            <p class="role">Co-Coordonator</p>
                            <div>
                                <a class="icon" href="mailto:dariamuresan100@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>

             <div class="container">
                        <img src="/assets/echipa/dutu.png">
                        <div class="card-body">
                            <h2 class="h2">Ormindean Vlad</h2>
                            <p class="role">Responsabil Tehnic</p>
                            <div>
                                <a class="icon overlay" href="mailto:ormindeanvlad@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
         
                     <div class="container">
                        <img src="/assets/echipa/ale.png">
                        <div class="card-body">
                            <h2 class="h2">Homiuc Alexandra</h2>
                            <p class="role">Responsabil PR</p>
                            <div>
                                <a class="icon overlay" href="mailto:alexandrahomiuc@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
        
                     <div class="container">
                        <img src="/assets/echipa/gio.png">
                        <div class="card-body">
                            <h2 class="h2">Giorgiana Spătăcean</h2>
                            <p class="role">Responsabil BC</p>
                            <div>
                                <a class="icon" href="mailto:sgiorgiana02@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    
                         
                    <div class="container">
                        <img src="/assets/echipa/diana.png">
                        <div class="card-body">
                            <h2 class="h2">Clim  Diana</h2>
                            <p class="role">Secretară</p>
                            <div>
                                <a class="icon" href="mailto:clim.diana2017@gmail.com "><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
     
                </div>

        
            </section>

        </article>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}
