

{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/page.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/sponsori2.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{#post}}
  {{> header background=feature_image}}
{{/post}}

<main id="site-main" class="site-main">

        
      <section class = "sponsori-content">
         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>PLATINUM<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-5"></div>
              <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.delonghi.com/ro-ro"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-4"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.continental.com/ro-ro/"><i class="fa fa-globe"></i></a>
               </div>
             
            </div>
            <div class = "card-bg">
               <div class = "card-img img-1"></div>
               <div class="icon-h">
                     <a class="icon" href="mailto:alexadru.cosma@cloudflight.io"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.cloudflight.io/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-2"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:contact@tapptitude.com"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://tapptitude.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-3"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:info@robofun.ro"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.robofun.ro"><i class="fa fa-globe"></i></a>
               </div>
            </div>
             <div class = "card-bg">
               <div class = "card-img img-25"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.bigbelly-cluj.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-19"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.vitaminaqua.ro/home"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>


         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>GOLD<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-6"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.autonet-group.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>

         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>SILVER<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-7"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://saltandpepper.co/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-8"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://axon-soft.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-9"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.p3-group.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-10"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://abac.software/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>

         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>BRONZE<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-11"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.cylex.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-12"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.linnify.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-13"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.qubiz.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-14"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.nanolabs.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
                 <div class = "card-bg">
               <div class = "card-img img-15"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.3ss.tv/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         
         <div class = "card-bg">
               <div class = "card-img img-26"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href=""><i class="fa fa-globe"></i></a>
               </div>
         </div>
         <div class = "card-bg">
               <div class = "card-img img-22"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.transilvanianuts.ro/"><i class="fa fa-globe"></i></a>
               </div>
         </div>
</div> 
<div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>PARTENERI<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-16"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://2022.defineschool.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            
            
                 <div class = "card-bg">
               <div class = "card-img img-20"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://web.facebook.com/pancakehousecluj/"><i class="fa fa-facebook"></i></a>
               </div>
            </div>
                 <div class = "card-bg">
               <div class = "card-img img-21"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="http://www.ludimi.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
             
            <div class = "card-bg">
               <div class = "card-img img-23"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.utcluj.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-17"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://rotsa.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            
           <div class = "card-bg">
               <div class = "card-img img-24"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://sas.utcluj.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>

      </section>
    
    </article>


</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}


